In [106]:
#Funcion para lectura de datos .gpx
import gpxpy
import pandas as pd
import sqlite3
from geopy.distance import distance

def read_gpx(file: str) -> pd.DataFrame:
    df = None
    points = []
    with open(file) as f:
        gpx = gpxpy.parse(f)

    for segment in gpx.tracks[0].segments:
        for p in segment.points:
            points.append({
                'time':p.time,
                'latitude':p.latitude,
                'longitude':p.longitude,
                'elevation':p.elevation
            })
    df = pd.DataFrame.from_records(points)
    
    return df

In [107]:
#Datos
df1 = read_gpx('recovery.01-Mar-2022-1533.gpx')
df2 = read_gpx('recovery.05-Mar-2022.1025.gpx')
df3 = read_gpx('recovery.25-May-2022-0907.gpx')

In [108]:
#Copias a los datos originales
Data1 = df1.copy()
Data2 = df2.copy()
Data3 = df3.copy()

In [109]:
Data1.isnull().any()
Data1.duplicated().any()
# Ahora se mira si existen filas duplicadas
duplicados = Data2.duplicated()
duplicados
filas_duplicadas = Data1[duplicados]
filas_duplicadas
Data1[Data1.duplicated('time')]

C:\Users\CCOSORIO\AppData\Local\Temp\ipykernel_23960\2707494956.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filas_duplicadas = Data1[duplicados]

Empty DataFrame
Columns: [time, latitude, longitude, elevation]
Index: []

In [110]:
#Separar Campos de fecha y hora
def separar_campos_fechas(df):

    df["Date_Time"] = pd.to_datetime(df["time"], format="%y-%m-%d").dt.tz_localize(None)
    df['date'] = pd.to_datetime(df['Date_Time'].dt.date)
    df['time'] = df['Date_Time'].dt.time
    df['year'] = df['Date_Time'].dt.year
    df['month'] = df['Date_Time'].dt.month
    df['day'] = df['Date_Time'].dt.day
    df['hour'] = df['Date_Time'].dt.hour
    df['minutes'] = df['Date_Time'].dt.minute
    df['seconds'] = df['Date_Time'].dt.second
     
    return df

In [111]:
separar_campos_fechas(Data2)

,time,latitude,longitude,elevation,Date_Time,date,year,month,day,hour,minutes,seconds
0,00:04:34,6.180893,-75.577296,1589.639492,2022-03-04 00:04:34,2022-03-04,2022,3,4,0,4,34
1,00:04:35,6.180912,-75.577295,1588.165859,2022-03-04 00:04:35,2022-03-04,2022,3,4,0,4,35
2,00:04:43,6.180921,-75.577312,1591.435879,2022-03-04 00:04:43,2022-03-04,2022,3,4,0,4,43
3,00:04:46,6.180897,-75.577270,1587.116055,2022-03-04 00:04:46,2022-03-04,2022,3,4,0,4,46
4,00:04:48,6.180874,-75.577276,1586.772305,2022-03-04 00:04:48,2022-03-04,2022,3,4,0,4,48
...,...,...,...,...,...,...,...,...,...,...,...,...
18588,15:25:40,6.255059,-75.590578,1481.257603,2022-03-05 15:25:40,2022-03-05,2022,3,5,15,25,40
18589,15:25:42,6.255073,-75.590597,1480.845982,2022-03-05 15:25:42,2022-03-05,2022,3,5,15,25,42
18590,15:25:44,6.255086,-75.590614,1480.847569,2022-03-05 15:25:44,2022-03-05,2022,3,5,15,25,44
18591,15:25:46,6.255103,-75.590619,1480.186069,2022-03-05 15:25:46,2022-03-05,2022,3,5,15,25,46
18592,15:25:48,6.255122,-75.590625,1479.852573,2022-03-05 15:25:48,2022-03-05,2022,3,5,15,25,48

In [112]:
#Calcular la distancia entre puntos (Formula de Haversine)

def distancia_puntos(row):
    Cordenada1 = (row['latitude'], row['longitude'])
    Cordenada2 = (Data2.iloc[0]['latitude'], Data2.iloc[0]['longitude'])
    Distancia = distance(Cordenada1, Cordenada2).meters
    return Distancia

In [113]:
Data2['distance'] = Data2.apply(distancia_puntos, axis=1)

In [114]:
Data2.head(50)

,time,latitude,longitude,elevation,Date_Time,date,year,month,day,hour,minutes,seconds,distance
0,00:04:34,6.180893,-75.577296,1589.639492,2022-03-04 00:04:34,2022-03-04,2022,3,4,0,4,34,0.000000
1,00:04:35,6.180912,-75.577295,1588.165859,2022-03-04 00:04:35,2022-03-04,2022,3,4,0,4,35,2.160142
2,00:04:43,6.180921,-75.577312,1591.435879,2022-03-04 00:04:43,2022-03-04,2022,3,4,0,4,43,3.611928
3,00:04:46,6.180897,-75.577270,1587.116055,2022-03-04 00:04:46,2022-03-04,2022,3,4,0,4,46,2.945579
4,00:04:48,6.180874,-75.577276,1586.772305,2022-03-04 00:04:48,2022-03-04,2022,3,4,0,4,48,3.069086
5,00:04:49,6.180849,-75.577266,1586.357265,2022-03-04 00:04:49,2022-03-04,2022,3,4,0,4,49,5.914801
6,00:04:50,6.180862,-75.577277,1587.002285,2022-03-04 00:04:50,2022-03-04,2022,3,4,0,4,50,4.008764
7,00:04:51,6.180877,-75.577289,1586.430508,2022-03-04 00:04:51,2022-03-04,2022,3,4,0,4,51,1.886874
8,00:05:21,6.180953,-75.577350,1584.878506,2022-03-04 00:05:21,2022-03-04,2022,3,4,0,5,21,8.913317
9,00:05:23,6.181004,-75.577227,1582.133633,2022-03-04 00:05:23,2022-03-04,2022,3,4,0,5,23,14.556799
10,00:05:36,6.180939,-75.577248,1588.489590,2022-03-04 00:05:36,2022-03-04,2022,3,4,0,5,36,7.408360
11,00:05:37,6.180916,-75.577244,1590.225918,2022-03-04 00:05:37,2022-03-04,2022,3,4,0,5,37,6.340150
12,00:05:39,6.180901,-75.577260,1586.395596,2022-03-04 00:05:39,2022-03-04,2022,3,4,0,5,39,4.118371
13,00:05:41,6.180898,-75.577282,1587.036953,2022-03-04 00:05:41,2022-03-04,2022,3,4,0,5,41,1.670802
14,00:06:06,6.180878,-75.577269,1591.547939,2022-03-04 00:06:06,2022-03-04,2022,3,4,0,6,6,3.375125
15,00:06:23,6.180861,-75.577312,1592.999355,2022-03-04 00:06:23,2022-03-04,2022,3,4,0,6,23,3.905571
16,00:06:55,6.180880,-75.577293,1595.642666,2022-03-04 00:06:55,2022-03-04,2022,3,4,0,6,55,1.478368
17,00:06:57,6.180909,-75.577286,1593.030361,2022-03-04 00:06:57,2022-03-04,2022,3,4,0,6,57,2.165048
18,00:06:58,6.180931,-75.577283,1593.797451,2022-03-04 00:06:58,2022-03-04,2022,3,4,0,6,58,4.482925
19,00:07:00,6.180957,-75.577277,1594.524746,2022-03-04 00:07:00,2022-03-04,2022,3,4,0,7,0,7.502786
20,00:07:01,6.180965,-75.577247,1594.453701,2022-03-04 00:07:01,2022-03-04,2022,3,4,0,7,1,9.678804
21,00:07:11,6.180950,-75.577284,1592.260586,2022-03-04 00:07:11,2022-03-04,2022,3,4,0,7,11,6.511774
22,00:07:27,6.180940,-75.577328,1592.833340,2022-03-04 00:07:27,2022-03-04,2022,3,4,0,7,27,6.350339
23,00:08:07,6.180923,-75.577341,1596.231289,2022-03-04 00:08:07,2022-03-04,2022,3,4,0,8,7,5.965480
24,00:08:11,6.180882,-75.577317,1593.656582,2022-03-04 00:08:11,2022-03-04,2022,3,4,0,8,11,2.537579
25,00:13:31,6.180842,-75.577315,1599.291592,2022-03-04 00:13:31,2022-03-04,2022,3,4,0,13,31,5.977264
26,00:13:54,6.180832,-75.577294,1600.010342,2022-03-04 00:13:54,2022-03-04,2022,3,4,0,13,54,6.693986
27,00:13:56,6.180846,-75.577282,1599.978359,2022-03-04 00:13:56,2022-03-04,2022,3,4,0,13,56,5.382488
28,00:20:39,6.180846,-75.577254,1607.459805,2022-03-04 00:20:39,2022-03-04,2022,3,4,0,20,39,6.908355
29,00:20:41,6.180844,-75.577221,1608.300625,2022-03-04 00:20:41,2022-03-04,2022,3,4,0,20,41,9.858748
30,00:20:43,6.180844,-75.577199,1606.189785,2022-03-04 00:20:43,2022-03-04,2022,3,4,0,20,43,12.052169
31,00:20:46,6.180870,-75.577218,1607.128017,2022-03-04 00:20:46,2022-03-04,2022,3,4,0,20,46,9.034116
32,00:20:47,6.180879,-75.577231,1606.864590,2022-03-04 00:20:47,2022-03-04,2022,3,4,0,20,47,7.391972
33,00:20:48,6.180902,-75.577244,1606.360928,2022-03-04 00:20:48,2022-03-04,2022,3,4,0,20,48,5.914269
34,00:20:49,6.180929,-75.577257,1606.365566,2022-03-04 00:20:49,2022-03-04,2022,3,4,0,20,49,5.976607
35,00:20:57,6.180930,-75.577237,1604.222012,2022-03-04 00:20:57,2022-03-04,2022,3,4,0,20,57,7.761214
36,00:21:00,6.180946,-75.577229,1605.558193,2022-03-04 00:21:00,2022-03-04,2022,3,4,0,21,0,9.531605
37,00:21:02,6.180959,-75.577242,1606.352139,2022-03-04 00:21:02,2022-03-04,2022,3,4,0,21,2,9.556027
38,00:21:03,6.180957,-75.577246,1606.784512,2022-03-04 00:21:03,2022-03-04,2022,3,4,0,21,3,9.101158
39,00:21:06,6.180944,-75.577261,1608.648769,2022-03-04 00:21:06,2022-03-04,2022,3,4,0,21,6,6.862021
40,00:21:08,6.180922,-75.577247,1608.438320,2022-03-04 00:21:08,2022-03-04,2022,3,4,0,21,8,6.385144
41,00:21:10,6.180921,-75.577223,1606.653896,2022-03-04 00:21:10,2022-03-04,2022,3,4,0,21,10,8.687204
42,00:21:15,6.180921,-75.577201,1606.262051,2022-03-04 00:21:15,2022-03-04,2022,3,4,0,21,15,10.972571
43,00:21:17,6.180932,-75.577182,1606.126308,2022-03-04 00:21:17,2022-03-04,2022,3,4,0,21,17,13.380801
44,00:21:22,6.180918,-75.577160,1605.649258,2022-03-04 00:21:22,2022-03-04,2022,3,4,0,21,22,15.400609
45,00:21:24,6.180892,-75.577145,1605.816738,2022-03-04 00:21:24,2022-03-04,2022,3,4,0,21,24,16.800562
46,00:21:26,6.180873,-75.577123,1605.911221,2022-03-04 00:21:26,2022-03-04,2022,3,4,0,21,26,19.353285
47,00:21:28,6.180856,-75.577112,1605.432461,2022-03-04 00:21:28,2022-03-04,2022,3,4,0,21,28,20.866196
48,00:21:30,6.180829,-75.577104,1605.126797,2022-03-04 00:21:30,2022-03-04,2022,3,4,0,21,30,22.435726
49,00:21:33,6.180828,-75.577125,1604.821133,2022-03-04 00:21:33,2022-03-04,2022,3,4,0,21,33,20.240510

In [115]:
#Calcular la velocidad 
def velocidad(df, columna):
    df['delta'] = df[columna].diff().fillna(pd.Timedelta(seconds=0))
    df['delta'] = df['delta'].dt.seconds
    df['speed'] = df['distance'] / df['delta']
    return df

In [116]:
velocidad(Data2, 'Date_Time').head(50)

,time,latitude,longitude,elevation,Date_Time,date,year,month,day,hour,minutes,seconds,distance,delta,speed
0,00:04:34,6.180893,-75.577296,1589.639492,2022-03-04 00:04:34,2022-03-04,2022,3,4,0,4,34,0.000000,0,NaN
1,00:04:35,6.180912,-75.577295,1588.165859,2022-03-04 00:04:35,2022-03-04,2022,3,4,0,4,35,2.160142,1,2.160142
2,00:04:43,6.180921,-75.577312,1591.435879,2022-03-04 00:04:43,2022-03-04,2022,3,4,0,4,43,3.611928,8,0.451491
3,00:04:46,6.180897,-75.577270,1587.116055,2022-03-04 00:04:46,2022-03-04,2022,3,4,0,4,46,2.945579,3,0.981860
4,00:04:48,6.180874,-75.577276,1586.772305,2022-03-04 00:04:48,2022-03-04,2022,3,4,0,4,48,3.069086,2,1.534543
5,00:04:49,6.180849,-75.577266,1586.357265,2022-03-04 00:04:49,2022-03-04,2022,3,4,0,4,49,5.914801,1,5.914801
6,00:04:50,6.180862,-75.577277,1587.002285,2022-03-04 00:04:50,2022-03-04,2022,3,4,0,4,50,4.008764,1,4.008764
7,00:04:51,6.180877,-75.577289,1586.430508,2022-03-04 00:04:51,2022-03-04,2022,3,4,0,4,51,1.886874,1,1.886874
8,00:05:21,6.180953,-75.577350,1584.878506,2022-03-04 00:05:21,2022-03-04,2022,3,4,0,5,21,8.913317,30,0.297111
9,00:05:23,6.181004,-75.577227,1582.133633,2022-03-04 00:05:23,2022-03-04,2022,3,4,0,5,23,14.556799,2,7.278399
10,00:05:36,6.180939,-75.577248,1588.489590,2022-03-04 00:05:36,2022-03-04,2022,3,4,0,5,36,7.408360,13,0.569874
11,00:05:37,6.180916,-75.577244,1590.225918,2022-03-04 00:05:37,2022-03-04,2022,3,4,0,5,37,6.340150,1,6.340150
12,00:05:39,6.180901,-75.577260,1586.395596,2022-03-04 00:05:39,2022-03-04,2022,3,4,0,5,39,4.118371,2,2.059185
13,00:05:41,6.180898,-75.577282,1587.036953,2022-03-04 00:05:41,2022-03-04,2022,3,4,0,5,41,1.670802,2,0.835401
14,00:06:06,6.180878,-75.577269,1591.547939,2022-03-04 00:06:06,2022-03-04,2022,3,4,0,6,6,3.375125,25,0.135005
15,00:06:23,6.180861,-75.577312,1592.999355,2022-03-04 00:06:23,2022-03-04,2022,3,4,0,6,23,3.905571,17,0.229739
16,00:06:55,6.180880,-75.577293,1595.642666,2022-03-04 00:06:55,2022-03-04,2022,3,4,0,6,55,1.478368,32,0.046199
17,00:06:57,6.180909,-75.577286,1593.030361,2022-03-04 00:06:57,2022-03-04,2022,3,4,0,6,57,2.165048,2,1.082524
18,00:06:58,6.180931,-75.577283,1593.797451,2022-03-04 00:06:58,2022-03-04,2022,3,4,0,6,58,4.482925,1,4.482925
19,00:07:00,6.180957,-75.577277,1594.524746,2022-03-04 00:07:00,2022-03-04,2022,3,4,0,7,0,7.502786,2,3.751393
20,00:07:01,6.180965,-75.577247,1594.453701,2022-03-04 00:07:01,2022-03-04,2022,3,4,0,7,1,9.678804,1,9.678804
21,00:07:11,6.180950,-75.577284,1592.260586,2022-03-04 00:07:11,2022-03-04,2022,3,4,0,7,11,6.511774,10,0.651177
22,00:07:27,6.180940,-75.577328,1592.833340,2022-03-04 00:07:27,2022-03-04,2022,3,4,0,7,27,6.350339,16,0.396896
23,00:08:07,6.180923,-75.577341,1596.231289,2022-03-04 00:08:07,2022-03-04,2022,3,4,0,8,7,5.965480,40,0.149137
24,00:08:11,6.180882,-75.577317,1593.656582,2022-03-04 00:08:11,2022-03-04,2022,3,4,0,8,11,2.537579,4,0.634395
25,00:13:31,6.180842,-75.577315,1599.291592,2022-03-04 00:13:31,2022-03-04,2022,3,4,0,13,31,5.977264,320,0.018679
26,00:13:54,6.180832,-75.577294,1600.010342,2022-03-04 00:13:54,2022-03-04,2022,3,4,0,13,54,6.693986,23,0.291043
27,00:13:56,6.180846,-75.577282,1599.978359,2022-03-04 00:13:56,2022-03-04,2022,3,4,0,13,56,5.382488,2,2.691244
28,00:20:39,6.180846,-75.577254,1607.459805,2022-03-04 00:20:39,2022-03-04,2022,3,4,0,20,39,6.908355,403,0.017142
29,00:20:41,6.180844,-75.577221,1608.300625,2022-03-04 00:20:41,2022-03-04,2022,3,4,0,20,41,9.858748,2,4.929374
30,00:20:43,6.180844,-75.577199,1606.189785,2022-03-04 00:20:43,2022-03-04,2022,3,4,0,20,43,12.052169,2,6.026084
31,00:20:46,6.180870,-75.577218,1607.128017,2022-03-04 00:20:46,2022-03-04,2022,3,4,0,20,46,9.034116,3,3.011372
32,00:20:47,6.180879,-75.577231,1606.864590,2022-03-04 00:20:47,2022-03-04,2022,3,4,0,20,47,7.391972,1,7.391972
33,00:20:48,6.180902,-75.577244,1606.360928,2022-03-04 00:20:48,2022-03-04,2022,3,4,0,20,48,5.914269,1,5.914269
34,00:20:49,6.180929,-75.577257,1606.365566,2022-03-04 00:20:49,2022-03-04,2022,3,4,0,20,49,5.976607,1,5.976607
35,00:20:57,6.180930,-75.577237,1604.222012,2022-03-04 00:20:57,2022-03-04,2022,3,4,0,20,57,7.761214,8,0.970152
36,00:21:00,6.180946,-75.577229,1605.558193,2022-03-04 00:21:00,2022-03-04,2022,3,4,0,21,0,9.531605,3,3.177202
37,00:21:02,6.180959,-75.577242,1606.352139,2022-03-04 00:21:02,2022-03-04,2022,3,4,0,21,2,9.556027,2,4.778013
38,00:21:03,6.180957,-75.577246,1606.784512,2022-03-04 00:21:03,2022-03-04,2022,3,4,0,21,3,9.101158,1,9.101158
39,00:21:06,6.180944,-75.577261,1608.648769,2022-03-04 00:21:06,2022-03-04,2022,3,4,0,21,6,6.862021,3,2.287340
40,00:21:08,6.180922,-75.577247,1608.438320,2022-03-04 00:21:08,2022-03-04,2022,3,4,0,21,8,6.385144,2,3.192572
41,00:21:10,6.180921,-75.577223,1606.653896,2022-03-04 00:21:10,2022-03-04,2022,3,4,0,21,10,8.687204,2,4.343602
42,00:21:15,6.180921,-75.577201,1606.262051,2022-03-04 00:21:15,2022-03-04,2022,3,4,0,21,15,10.972571,5,2.194514
43,00:21:17,6.180932,-75.577182,1606.126308,2022-03-04 00:21:17,2022-03-04,2022,3,4,0,21,17,13.380801,2,6.690400
44,00:21:22,6.180918,-75.577160,1605.649258,2022-03-04 00:21:22,2022-03-04,2022,3,4,0,21,22,15.400609,5,3.080122
45,00:21:24,6.180892,-75.577145,1605.816738,2022-03-04 00:21:24,2022-03-04,2022,3,4,0,21,24,16.800562,2,8.400281
46,00:21:26,6.180873,-75.577123,1605.911221,2022-03-04 00:21:26,2022-03-04,2022,3,4,0,21,26,19.353285,2,9.676643
47,00:21:28,6.180856,-75.577112,1605.432461,2022-03-04 00:21:28,2022-03-04,2022,3,4,0,21,28,20.866196,2,10.433098
48,00:21:30,6.180829,-75.577104,1605.126797,2022-03-04 00:21:30,2022-03-04,2022,3,4,0,21,30,22.435726,2,11.217863
49,00:21:33,6.180828,-75.577125,1604.821133,2022-03-04 00:21:33,2022-03-04,2022,3,4,0,21,33,20.240510,3,6.746837

In [117]:
#Cargar datos a sqlite
def ingestar_sqlite(df, BD = 'Base.db', Tabla = 'Cordenadas'):
    conn = sqlite3.connect(BD)
    df.to_sql(Tabla, conn, if_exists='replace', index = False)
    df_consulta = pd.read_sql(f'SELECT * FROM {Tabla}', conn)
    conn.close()
    return df_consulta

In [118]:
ingestar_sqlite(Data2)

,time,latitude,longitude,elevation,Date_Time,date,year,month,day,hour,minutes,seconds,distance,delta,speed
0,00:04:34.000000,6.180893,-75.577296,1589.639492,2022-03-04 00:04:34,2022-03-04 00:00:00,2022,3,4,0,4,34,0.000000,0,NaN
1,00:04:35.000000,6.180912,-75.577295,1588.165859,2022-03-04 00:04:35,2022-03-04 00:00:00,2022,3,4,0,4,35,2.160142,1,2.160142
2,00:04:43.000000,6.180921,-75.577312,1591.435879,2022-03-04 00:04:43,2022-03-04 00:00:00,2022,3,4,0,4,43,3.611928,8,0.451491
3,00:04:46.000000,6.180897,-75.577270,1587.116055,2022-03-04 00:04:46,2022-03-04 00:00:00,2022,3,4,0,4,46,2.945579,3,0.981860
4,00:04:48.000000,6.180874,-75.577276,1586.772305,2022-03-04 00:04:48,2022-03-04 00:00:00,2022,3,4,0,4,48,3.069086,2,1.534543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18588,15:25:40.000000,6.255059,-75.590578,1481.257603,2022-03-05 15:25:40,2022-03-05 00:00:00,2022,3,5,15,25,40,8332.580245,2,4166.290123
18589,15:25:42.000000,6.255073,-75.590597,1480.845982,2022-03-05 15:25:42,2022-03-05 00:00:00,2022,3,5,15,25,42,8334.369610,2,4167.184805
18590,15:25:44.000000,6.255086,-75.590614,1480.847569,2022-03-05 15:25:44,2022-03-05 00:00:00,2022,3,5,15,25,44,8336.119769,2,4168.059884
18591,15:25:46.000000,6.255103,-75.590619,1480.186069,2022-03-05 15:25:46,2022-03-05 00:00:00,2022,3,5,15,25,46,8338.184960,2,4169.092480
18592,15:25:48.000000,6.255122,-75.590625,1479.852573,2022-03-05 15:25:48,2022-03-05 00:00:00,2022,3,5,15,25,48,8340.263484,2,4170.131742